<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306426231076-fh1m5qh0krjv35l20cf4qgjgdoritrcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306426231076-fh1m5qh0krjv35l20cf4qgjgdoritrcg</string>
	<key>API_KEY</key>
	<string>AIzaSyC_bchxeCoLNx3TVuBJuHomXqT_3yXwtxk</string>
	<key>GCM_SENDER_ID</key>
	<string>306426231076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>wal-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>wal-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306426231076:ios:f70b7fae99eea4995edbb1</string>
</dict>
</plist>